<div class="container my-5">
  <h2>Libros</h2>
  <hr>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-6" *ngFor="let libro of libros">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/img/books.jpg" class="card-img-top" alt="books">
            <div class="card-body">
              <h5 class="card-title"> Titulo: {{ libro.nombre }}</h5>
              <p class="card-text">Autor: {{ libro.autor }}</p>
              <p class="card-text">Año publicación: {{ libro.publicacion }}</p>
              <button class="btn btn-primary m-1" (click)="habilitarFormularioActualizar(libro)">Actualizar</button>
              <button class="btn btn-danger" (click)="eliminarLibro(libro.id)">Eliminar</button>
            </div>
          </div>
            
           <!-- Formulario de actualización -->
           <div *ngIf="libro === libroParaActualizar">
              <form class="border border-primary p-3" (submit)="guardarCambios(libro)">
                <div class="mb-3">
                  <label for="nombre{{ libro.id }}" class="form-label">Nombre:</label>
                  <input type="text" id="nombre{{ libro.id }}" name="nombre{{ libro.id }}" class="form-control" [(ngModel)]="libro.nombre" required>
          
                  <label for="autor{{ libro.id }}" class="form-label">Autor:</label>
                  <input type="text" id="autor{{ libro.id }}" name="autor{{ libro.id }}" class="form-control" [(ngModel)]="libro.autor" required>
          
                  <label for="añoPublicacion{{ libro.id }}" class="form-label">Año de Publicación:</label>
                  <input type="number" id="añoPublicacion{{ libro.id }}" name="añoPublicacion{{ libro.id }}" class="form-control" [(ngModel)]="libro.publicacion" required>
                </div>
        
                <button type="submit" class="btn btn-outline-success m-2">Guardar Cambios</button>
                <button type="button" (click)="cancelarActualizacion()" class="btn btn-outline-primary">Cancelar</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    <div class="col-4">
      <h3>Agregar Nuevo Libro</h3>
      <hr>
      <div>
        <form (submit)="crearLibro()">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nuevoLibro.nombre" required>
          
            <label for="autor" class="form-label">Autor:</label>
            <input type="text" id="autor" name="autor" class="form-control" [(ngModel)]="nuevoLibro.autor" required>
          
            <label for="añoPublicacion" class="form-label">Año de Publicación:</label>
            <input type="number" id="añoPublicacion" name="añoPublicacion" class="form-control" [(ngModel)]="nuevoLibro.publicacion" required>
          </div>
        
          <button type="submit" class="btn btn-outline-success">Guardar</button>
        </form>
      </div>

    </div>

  </div>
  
</div>

